<!DOCTYPE html>
<html>
<head>
  <title>DatastoreMongo</title>
  <%= stylesheet_link_tag    "datastore_mongo/application" %>
  <%= javascript_include_tag "datastore_mongo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
